.task {
  width: 100%;
  /* background-color: white; */
  background: rgba(77, 131, 230, 1);

  border: 1px solid #e1e2e3;
  border-radius: 10px;
  box-shadow: 0px 5px 10px -5px rgba(34, 60, 80, 0.2);
  padding: 15px 10px;
  cursor: pointer;
}
.nameTask {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}
.createDate {
  font-size: 16px;
  color: #bad7df;
}
